<div class="w-75">
  <h3 class="m-3">Add New Brand</h3>
  <form [formGroup]="brandAddForm" (ngSubmit)="add()">
    <div class="form-group m-3">
      <label for="name" class="block">Brand Name</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        aria-describedby="name-help"
        class="form-control"
        pInputText
      /><br />
      <small
        *ngIf="
          brandAddForm.get('name').hasError('required') &&
          brandAddForm.get('name').dirty
        "
        id="name-help"
        class="p-error block ng-invalid ng-dirty"
        >Brand Name is not available.</small
      >
    </div>
    <div class="form-group m-3">
      <label for="image" class="block">Image</label>
      <input
        id="image"
        formControlName="image"
        type="text"
        aria-describedby="image-help"
        class="form-control"
        pInputText
      />
      <small
      *ngIf="
      brandAddForm.get('image').hasError('required') &&
      brandAddForm.get('image').dirty
    "
        id="image-help"
        class="p-error block ng-invalid ng-dirty"
        >uahahhha.</small
      >
    </div>
    <button
      label="Submit"
      type="submit"
      icon="pi pi-check"
      class="btn btn-success m-3"
      [disabled]="brandAddForm.invalid"
    
    >
      Ekle
    </button>
  </form>
</div>
<div></div>
