<div class="w-75">
  <h3 class="m-3">Add New Color</h3>
  <form [formGroup]="colorAddForm" (ngSubmit)="add()">
    <div class="form-group m-3">
      <label for="name" class="block">Color Name</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        aria-describedby="username-help"
        class="form-control"
        pInputText
      /><br />
      <small
        *ngIf="
          colorAddForm.get('name').hasError('required') &&
          colorAddForm.get('name').dirty
        "
        id="username-help"
        class="p-error block ng-invalid ng-dirty"
        >Color Name is not available
      </small>
    </div>
    <div class="form-group m-3">
      <label for="image" class="block">Image</label>
      <input
        id="image"
        formControlName="image"
        type="text"
        aria-describedby="image-help"
        class="form-control"
        pInputText
      />
      <small
        *ngIf="
          colorAddForm.get('image').hasError('required') &&
          colorAddForm.get('image').dirty
        "
        id="image-help"
        class="p-error block ng-invalid ng-dirty"
        >shshhsh
      </small>
    </div>
    <button
      label="submit"
      type="submit"
      icon="pi pi-check"
      class="btn btn-success m-3"
      [disabled]="colorAddForm.invalid"
    >
      Ekle
    </button>
  </form>
</div>
