<nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid" style="background-color: #DA4730;">
      <a class="navbar-brand" href="#" style="color: white;">RENTACAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
          </li>
        </ul>
        <form class="d-flex">
          <app-cart-summary></app-cart-summary>
        </form>
        <div class="dropdown">
          <button
            class="btn btn-sm dropdown-toggle"
            style="color: white;"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Giriş Yap
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="dropdown-item" routerLink="/login">Giriş</li>
            <li class="dropdown-item" routerLink="/register">Kaydol</li>
          </ul>
        </div>
        <a class="nav-link active"  style="color: white;" aria-current="page"  routerLink="/contact" >Contact</a>
      </div>
    </div>
  </nav>
 